<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base target="_blank">
</head>
<body>
<div style="margin-top:0px;vertical-align:top;width:80%;margin:0 auto;border:1px solid gray">
<div style="text-align:center;background-color:blue">
<span style="color:red;font-size:40px">${title}</span>
</div>
<p style="height: 200px;font-size:20px">
        在团购页下的<span style="color: red">${position}</span>位置<span style="color: red">${goods}</span><span>${Content}</span>。
</p>
</div>

</body>
</html>