<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base target="_blank">
</head>
<body style=" width:100%; margin:0; padding:0; list-style: none; white-space: normal; text-align: center; ">
<div style="font-size:12px;color:#404040;font-family:arial,'Lucida Grande',tahoma,\5b8b\4f53;font-weight:normal;">
    <div>
        <table cellspacing="0" cellpadding="0" style=" margin: 0 auto; border-spacing:0; border-width: 0; font-size: 12px;text-align: left;">
            <tbody>
            <tr style=" width: 750px; height: 87px; background: url('images/header_bg.png') repeat;">
                <td style="width: 382px; height: 87px; padding-left: 18px;">
                   <a href="http://www.haixuan.com" title="海选网首页"><img src="http://www.if2c.com/style/images/logo.png" width="225" height="50" alt="海选网首页" /> </a>
                </td>
                <td style=" width:350px;">
                    <table  cellspacing="0" cellpadding="0" style="font-size: 12px; margin-top:80px;" align="right">
                        <tbody>
	                        <tr>
	                            <td style="width: 204px; height: 14px; text-align: center;" align="right"><a href="http://seller.haixuan.com/" style=" color: #8e0c3a; text-decoration: none; font-weight: bold;" title="Backstage Management System for Sellers">商家后台首页 <br>Backstage Management System for Sellers</a> </td>
	                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 28px; background: #8e0c3a; padding-left: 20px; color: #fff; font-weight: bold; ">海选网待发货订单提醒  Reminder for Order Shipping</td>
            </tr>
            </tbody>
        </table>
        <div style="width: 100%; padding-top: 40px;">
            <table cellspacing="0" cellpadding="0" style=" width: 580px;  margin: 0 auto; border-spacing:0; border-width: 0; font-size: 12px;color: #636363;text-align: left;">
                <thead>
                <tr>
                    <td style="height: 24px;">尊敬的：<span style="color:#8e0c3a ">${name}</span> 商家</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="height: 24px;">您在海选网 <span style="color:red ">${year}年${month}月${day}日  </span>产生 <span style="color:red ">${count}</span> 张待发货订单。</td>
                </tr>
                <tr>
                    <td style="height: 24px;">请尽快登录海选网商家后台 <a href="http://seller.haixuan.com/ ">http://seller.haixuan.com/ </a>于48小时内将货物发出；</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 100%; padding-top: 30px;">
            <table  cellspacing="0" cellpadding="0" style=" width: 580px;  margin: 0 auto; border-spacing:0; border-width: 0; font-size: 12px;color: #636363;text-align: left;">
                <tfoot>
                <br/>
                <tr>
                    <td style="height: 24px;">本邮件由海选网系统自动发出，请勿直接回复！ </td>
                </tr>
                <br/>
                <br/>
                <tr>
                    <td style="height: 24px;">如有其它问题可致电服务热线:4006 960 666；意见邮箱:cs@haixuan.com 与我们联系。</td>
                </tr>
                <br/>
                <br/>
                <tr>
                    <td style="height: 24px;">祝生意兴隆！</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div style="width: 100%; padding-top: 40px;">
            <table cellspacing="0" cellpadding="0" style=" width: 580px;  margin: 0 auto; border-spacing:0; border-width: 0; font-size: 12px;color: #636363;text-align: left;">
                <thead>
                <tr>
                    <td style="height: 24px;">Dear Seller  <span style="color:#8e0c3a ">${name}</span></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="height: 24px;">There are <span style="color:red "><strong>${count}</strong></span> to-be-shipped open orders placed on <span style="color:red ">${enMonth} ${day},${year}</span></td>
                </tr>
                <tr>
                    <td style="height: 24px;">Please login the Backstage Management System for sellers  <a href="http://seller.haixuan.com/">(http://seller.haixuan.com/) </a>as soon as possible to ship these orders within 48 hours. </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 100%; padding-top: 30px;">
            <table  cellspacing="0" cellpadding="0" style=" width: 580px;  margin: 0 auto; border-spacing:0; border-width: 0; font-size: 12px;color: #636363;text-align: left;">
                <tfoot>
                <tr>
                    <td style="height: 24px;">This email is sent automatically by Haixuan, please do not reply to it.  </td>
                </tr>
                <br/>
                <br/>
                <tr>
                    <td style="height: 24px;">If you have any questions, please make a call to our service hotline: 4006 960 666 or write to our Comments & Advice Email cs@haixuan.com.</td>
                </tr>
                 <br/>
                <br/>
                <tr>
                    <td style="height: 24px;">Thank you very much for your business!</td>
                </tr>
                </tfoot>
            </table>
        </div>


    </div>

</div>
</body>
</html>